* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

.logo {
  width: 50px;
  object-fit: contain;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

li>a:hover {
  display: block;
  background-color: black;
  color: white;
  padding-block: 5px;
}

li>a {
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
}

main {
  padding: 20px;
  grid-column: 4/10;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cat {
  width: 50%;
  border-radius: 10px;
}

h1 {
  font-size: 48px;
}

p {
  font-size: clamp(0.75rem, 0.5rem + 1.1111vw, 1.25rem);
  line-height: 1.5;
  text-align: justify;
}

header {
  padding: 10px;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

aside {
  background-color: black;
  padding: 20px;
  grid-area: a;
  grid-column: 1/4;
  grid-row: 2;
}

.aside2 {
  background-color: black;
  padding: 20px;
  grid-column: 10/-1;
}

footer {
  padding: 20px;
  display: flex;
  align-items: center;
  grid-column: 1/-1;
  border-top: 1px solid black;
}

nav>a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

nav>a:hover {
  display: block;
  padding-inline: 10px;
  background-color: black;
  color: white;
}

.container {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
